.upload-drop-zone {
  border-radius: 5px;
  border-width: 2px;
  height: 200px;
  width: 100%;
  color: #c0c0c0;
  border-style: dashed;
  border-color: #c0c0c0;
  display: table;
  padding: 5px;
}
.upload-drop-zone.drop {
  height: 220px;
  width: 102%;
  margin-left: -1%;
  margin-bottom: -20px;
}
.drop-text {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}
#to-click {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

#files {
  display: none;
}

.figure-section {
  padding: 6px;
  margin-top: 2%;
  height: auto;
  background-color: #c0c0c0;
  border-radius: 5px;
  min-height: 100px;
}

.figure-container {
  margin: 12px;
  position: relative;
  top: 0;
}

.imgs {
  position: relative;
  top: 0;
}

.button-container {
  position: relative;
  left: 0;
  top: 0;
  margin: 12px;
}

body {
  background-color: #424242;
}

h1 {
  font-family: verdana;
  color: #EFEFEF;
  text-align: center;
}

h6 {
  font-family: verdana;
  font-size: 20px;
  color: #C1C1C1;
  text-align: center;
}
