.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
